data/clima.csv
data/empresaContratista.csv
data/empresas.xlsx
data/fiscalizacion.csv
data/grupoPlanificador.xlsx
data/reclamos.csv
data/rus2017.csv
data/rus_final.csv
data/.ipynb_checkpoints/fiscalizacion-checkpoint.csv
data/shp/barrios_WGS84/BARRIOS_WGS84.cpg
data/shp/barrios_WGS84/BARRIOS_WGS84.csv
data/shp/barrios_WGS84/BARRIOS_WGS84.dbf
data/shp/barrios_WGS84/BARRIOS_WGS84.prj
data/shp/barrios_WGS84/BARRIOS_WGS84.qpj
data/shp/barrios_WGS84/BARRIOS_WGS84.shp
data/shp/barrios_WGS84/BARRIOS_WGS84.shx
data/shp/barrios_WGS84/BARRIOS_WGS84.shx
data/
